<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src='https://cdn.socket.io/socket.io-1.4.5.js'></script>

</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigatie</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Kroegen bv</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/profile">Profiel <span class="sr-only">(current)</span></a></li>
                <li><a href="/races">Races</a></li>
                <li class="active"><a href="/users">users</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <table id="userslist" class="table table-striped">
                <thead>
                <tr>
                    <th>Naam</th>
                    <th>Acties</th>
                </tr>
                </thead>
                <tbody id="userlistTbody">

                </tbody>
            </table>

        </div>
        <div id="usercrud" class="col-md-2">
            <p>
                <h2>User details</h2>
                <strong>Naam: </strong> <span id='userInfoName'></span>
                <br>
                <strong>Email:</strong> <span id='userInfoEmail'></span>
            </p>
            <p id="edituser">
            <h2 >Edit user</h2>
            <form>
                <table>
                    <tr>
                        <td>
                            <strong>Voornaam: </strong>
                        </td>
                        <td>
                            <input id="inputeditFirstname" type="text">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Achternaam: </strong>
                        </td>
                        <td>
                            <input id="inputeditLastname" type="text">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Email: </strong>
                        </td>
                        <td>
                            <input id="inputeditEmail" type="email">
                        </td>
                    </tr>
                    <tr>
                        <td><button id="editUser">Edit User</button></td>
                        <td></td>
                    </tr>
                </table>

            </form>
            </p>
        </div>
    </div>
</div>

<script>
    /*De meegerekegen users als variable zetten*/
    var users = <%- JSON.stringify(users) %>;
</script>
<script src="/javascripts/user.js"></script>
</body>
</html>